body {
    font-family: sans-serif;
    margin-left: 20px;
}

h1 {
    color: #484D55;
    font-size: 3rem;
    text-align: center;
}

h2 {
    color: #CB731C;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

img {
    align-items: center;
}

.background {
    background-color: #087A98;
    border: solid 2px #0b4a5a;
    color: #ffffff;
}

.blue {
    color: #087A98;
}

a {
    color: #2B930B;
    text-decoration-style: dotted;
}