* {
    font-family: sans-serif;
    margin-left: 20px;;
}

h1 {
    color: #4676A9;
    font-size: 3rem;
    text-align: center;
}

h2 {
    color: #CB731C;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

footer {
    background-color: #22466C;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: .8rem;
    padding: 1px;
    border: 5px solid #6E84CF;
}

img {
    align-items: center;
}