 /* default styling (from lesson 18, altered slightly) */
 * {
    box-sizing: border-box;  
    margin-left: .5em;
    margin-right: .5em;
}

body {
    font:'Courier New'; 
    color: #333;             
    background-color: #fafbfc;  
    padding: 1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   

/* Use this class on section, article, or div elements
   to keep text lines from getting too long to comfortably read */
.wrapper {
    max-width: 80em;  
}

img {
    max-height: 100vh;
    max-width: 100vw;
}

/* general text */

h1 {
    color: #0b4480;
    font-size: 3rem;
}

h2 {
    color: #4879b2;
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

/* main menu, projects nav and socials general styling */

.main_nav a, .projects_nav a, .socials a {
    text-decoration: none;
    color: #0b4480;
}

.main_nav a:hover, .main_nav a:focus, .projects_nav a:hover, .projects_nav a:focus, .socials a:hover, .socials a:focus {
    color: #4879b2;
}

/* main menu-specific styling */

.main_nav li a {
    padding: 0.2em 0.5em;
    text-decoration: none;
}

.main_nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: end;
}

/* projects-nav specific styling */

.projects_nav li a {
    padding: 0.5em 10em;
    text-decoration: none;
    font-size: 1rem;
    outline: solid 2px #0b4480;
    border-radius: 5px;
    background-color:  #d1e5f9;
}

.projects_nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
    justify-content: center;
    margin-top: 3em;
}

.projects_nav ul li a:hover, .projects_nav ul li a:focus {
    outline: 5px solid #4879b2;
    color: #0b4480;
    transition: .1s linear;
}

/* grid for top of landing page */

.intro_grid {
    display: grid;
    grid-template: repeat(auto-fill, minmax(300px, 1fr)) / repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-flow: row dense;
    gap: 5em;
    margin-bottom: 3em;
}

.headshot_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow-x: hidden;
}

.headshot {
    border-radius: 50%;
    width: auto;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 5px solid #0b4480;
}

.intro_grid p {
    font-size: 1.5rem;
    padding: 0.5em;
}

/* creates gap between projects, resume and footer sections */

#projects {
    margin-bottom: 3em;
}

#resume {
    margin-bottom: 3em;
}

/* resume section styling */

h3 {
    color: #5a7899;
    font-size: 1.5rem;
}

h4 {
    color: #34364e;
    font-size: 1.25rem;
}

.resume ul li {
    list-style-type: square;
    padding: 0.5em;
    font-size: 1rem;
}

.resume p {
    font-size: 1rem;
    margin-bottom: 1em;
}

/* layout for samples */

.sample_grid {
    display: grid;
    grid-template: repeat(auto-fill, minmax(600px, 3fr)) / repeat(auto-fill, minmax(450px, 1fr));
    grid-auto-flow: row dense;
}

.grid_cell {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.grid_cell img {
    max-width: 100%;
    height: auto;
    width: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    outline: 5px solid #0b4480; 
    transition: .1s linear;
}

.grid_cell p {
    font-size: 1rem;
    padding: 0.5em;
}

.grid_cell a:hover img, .grid_cell a:focus img {
    outline: 10px solid #4879b2;
    transition: .1s linear;
}

/* essay sample pages */

.essay_text {
    text-align: left;
    padding: 1em;
    margin: 0 auto;
    max-width: 65em;
}

.byline {
    font-size: 1rem;
    color: #4e759f;
    margin-bottom: 1em;
}

.context {
    font-size: 0.9rem;
    color: #4e759f;
    margin-bottom: 1em;
}

.table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #0b4480;
}

/* socials links styling */

hr {
    border: 0;
    height: 1px;
    background-color: #0b4480;
    margin-top: 2em;
    margin-bottom: 2em;
}

.socials {
    display: flex;
    justify-content: center;
    max-width: 100%;
    gap: 5em;
    margin-top: 2em;
}

.socials a {
    padding: 0.5em 1em;
}