 /* default styling (from lesson 18, altered slightly) */
 * {
    box-sizing: border-box;  
    margin-left: .5em;
    margin-right: .5em;
}

body {
    font:'Courier New'; 
    color: #333;             
    background-color: #fafbfc;  
    padding: 1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   

/* Use this class on section, article, or div elements
   to keep text lines from getting too long to comfortably read */
.wrapper {
    max-width: 80em; 
    margin: auto; 
}

img {
    max-height: 100vh;
    max-width: 100vw;
}

/* general text */

h1 {
    color: #0b4480;
    font-size: 3rem;
}

h2 {
    color: #4879b2;
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}

/* main menu */

.main_nav, .menu_items, .submenu, .main_nav ul, .main_nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_nav {
    position: relative;
    display: block;
    float: right;
}

.menu_button {
    font-size: 2rem;
    background: #fafbfc;
    color: #0b4480;
    border: none;
    line-height: 1;
    padding: 0 0 4px 0;
    cursor: pointer;
}
   
.menu_button:hover {
    color: #4879b2;
}

.menu_items {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 200px;
    background: #fafbfc;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 10;
}

.main_nav:hover .menu_items {
    display: block;
}

.menu_items a, .submenu a {
    display: block;
    padding: 12px 16px;
    color: #0b4480;
    text-decoration: none;
    white-space: nowrap;
}

.has_submenu {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    right: 100%;
    top: 0;
    min-width: 200px;
    background: #fafbfc;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.menu_items a:hover, .menu_items a:focus, .submenu a:hover, .submenu a:focus {
    color: #4879b2;
}

.has_submenu:hover .submenu {
    display: block;
}

.submenu:hover {
    display: block;
}

/* layout for top of landing page */

.intro_container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 3em; 
    margin-bottom: 3em;
    margin-top: 3em;
}

.intro_text_container {
    flex: 2 1 300px; 
    max-width: 600px; 
}

.headshot_container {
    flex: 1 1 300px; 
    text-align: center; 
}

.headshot {
    border-radius: 50%;
    width: 100%; 
    max-width: 400px; 
    height: auto; 
    overflow: hidden;
    border: 5px solid #0b4480;
    margin: 0 auto; 
}

.intro_text_container p {
    font-size: 1.25rem;
    padding: 0.5em;
}


/* creates gap between projects, resume and footer sections */

#projects {
    margin-bottom: 3em;
}

#resume {
    margin-bottom: 3em;
}

/* resume section styling */

h3 {
    color: #2f5c89;
    font-size: 1.5rem;
    text-decoration: underline;
}

h4 {
    color: #6f98d0;
    font-size: 1.25rem;
}

.resume ul li {
    list-style-type: square;
    padding: 0.5em;
    font-size: 1rem;
    margin-left: 4em;
}

.resume p {
    margin-bottom: 1em;
    margin-left: 3em;
    font-size: 1rem;
}

.resume_intro {
    font-size: 1.25rem;
}

.experience_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-bottom: 3em;
    margin-top: 3em;
}

.tpn_container {
    flex: 1 1 300px; 
    max-width: 600px; 
    text-align: start; 
    border: 2px solid #0b4480;
    border-radius: 10px;
    padding: 1em;
}

.p26_container {
    flex: 1 1 300px; 
    max-width: 600px; 
    text-align: start; 
    border: 2px solid #0b4480;
    border-radius: 10px;
    padding: 1em;
}

/* layout/styling for samples */

.sample_grid {
    display: grid;
    grid-template: repeat(auto-fill, minmax(600px, 3fr)) / repeat(auto-fill, minmax(450px, 1fr));
    grid-auto-flow: row dense;
}

.grid_cell {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

.grid_cell img {
    max-width: 100%;
    height: auto;
    width: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    outline: 5px solid #0b4480; 
    transition: .1s linear;
}

.grid_cell p {
    font-size: 1rem;
    padding: 0.5em;
}

.grid_cell a:hover img, .grid_cell a:focus img {
    outline: 10px solid #4879b2;
    transition: .1s linear;
}

.grid_cell h3 {
    text-decoration: none;
}

/* essay sample pages */

.essay_text {
    text-align: left;
    padding: 1em;
    margin: 0 auto;
    max-width: 65em;
}

.byline {
    font-size: 1rem;
    color: #4e759f;
    margin-bottom: 1em;
}

.context {
    font-size: 0.9rem;
    color: #4e759f;
    margin-bottom: 1em;
}

.table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #0b4480;
}