 /* include padding/margin in your width declarations */
 * {
    box-sizing: border-box;  
}

/* basic spacing */
body {
    padding: 1em;     /* avoid crowding content against the edges */
}

/* make the appearance less "default".
   Note that this is a light theme; you could also make a dark theme by reversing the colors. */
body {
    font:'Courier New'; /* for body text on a screen, sans-serifs are often easier to read */
    color: #333;             /* pull back from hard black */
    background-color: #fafbfc;  /* pull back from hard white */
}

/* Use this class on section, article, or div elements
   to keep text lines from getting too long to comfortably read */
.wrapper {
    max-width: 50em;  
}

/* keep images from overflowing the viewport */
img {
    max-height: 100vh;
    max-width: 100vw;
}

/* main menu */


.main_nav a {
    color: #0b4480;
    font-family: 'Courier New', Courier, monospace;
}

.main_nav a:hover, .main_nav a:focus {
    color: #4879b2;
}

.main_nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: end;
}

.main_nav li a {
    display: inline-block;
    padding: 0.2em 0.5em;
    text-decoration: none;
}

.intro_grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
}

.headshot {
    border-radius: 50%;
    max-width: 100%;
    width: 300px;
    height: auto;
    overflow-x: hidden;
    border: 5px solid #0b4480;
}

.sample_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.sample_grid img {
    border-radius: 50%;
    max-width: 100%;
    height: 350px;
    width: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 5px solid #0b4480;
}

.sample_descript {
    font-size: 1rem;
}

.img_link a:hover, .img_link a:focus {
    border: 10px solid #4879b2;
}

/* headings + body text */

h1 {
    color: #0b4480;
    font-size: 3rem;
}

h2 {
    color: #4879b2;
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
}